[submodule "caveman"]
	path = caveman
	url = https://github.com/JuliusBrussee/caveman
[submodule "ponytail"]
	path = ponytail
	url = https://github.com/DietrichGebert/ponytail
[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers
[submodule "vercel-skills"]
	path = vercel-skills
	url = https://github.com/vercel-labs/skills
[submodule "impeccable"]
	path = impeccable
	url = https://github.com/pbakaus/impeccable
